{% load static %}

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
     style="background-color: #343a40;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><img id="userImage"
                    src="

                            {% if user.user_image %}{{ user.user_image.url }}{% else %}{% static 'accounts/images/default_avatar.jpeg' %}{% endif %}"
                    alt="My Avatar"></div>
            <div class="sidebar-brand-text mx-3"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link {% if page_type == 'Dashboard Home'%}active{% endif %}"
                                                        href="{% url 'accounts_user_dashboard' user.id %}"><i
                    class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link {% if page_type == 'Profile Settings'%}active{% endif %}"
                                                        href="{% url 'accounts_user_dashboard_profile_settings' user.id %}"><i
                    class="fas fa-user"></i><span>Profile</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link {% if page_type == 'Historical Transactions'%}active{% endif %}"
                                                        href="{% url 'accounts_user_dashboard_historical_transactions' user.id %}"><i
                    class="fas fa-table"></i><span>Transaction History</span></a></li>
        </ul>
        <div id="content">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>

